.invite-bind {
    position: relative;
    min-height: 100vh;
    overflow: hidden;
    background: rgb(35,13,126);
    img {
        display: block;
    }
    .backdrop {
        position: absolute;
        z-index: 2;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0.65;
        background: #000;
    }
    .share-guide {
        position: fixed;
        z-index: 3;
        width: 4.94rem;
        height: 2.26rem;
        top: 0.2rem;
        right: 0.25rem;
    }
    #toast {
        left: 50%;
        top: 25%;
        transform: translateX(-50%);
        z-index: 10;
        width: 6rem;
        border-radius: 0.1rem;
        background: rgba(10,10,10,0.5);
        line-height: 0.7rem;
        color: white;
    }
    .banner {
        width: 7.5rem;
        height: 4.7rem;
        background: url("../assets/images/inviteBind/banner.png");
        background-size: 100%;
    }
    .act-panel {
        width: 7.1rem;
        margin: 0 auto;
        border-radius: 0.1rem;
        background-size: 100%;
        &.panel-1 {
            height: 4.2rem;
            margin-top: -0.15rem;
            background-image: url("../assets/images/inviteBind/panel1.png");
        }
        &.panel-2 {
            height: 7.38rem;
            margin-top: 0.2rem;
            background-image: url("../assets/images/inviteBind/panel2.png");
        }
        &.panel-3 {
            height: 5.17rem;
            margin-top: 0.2rem;
            border: 0.01rem solid rgb(35, 13, 126);
            background-image: url("../assets/images/inviteBind/panel3.png");
        }
        &.panel-4 {
            height: 9.68rem;
            background-image: url("../assets/images/inviteBind/panel4.png");
        }
        &.panel-5 {
            height: 5.54rem;
            background-image: url("../assets/images/inviteBind/panel5.png");
        }
        &.panel-6 {
            height: 4.18rem;
            background-image: url("../assets/images/inviteBind/panel6.png");
        }
        &.panel-7 {
            height: 3.93rem;
            margin-top: 0.2rem;
            margin-bottom: 0.2rem;
            background: white;
            .corner {
                width: 1.55rem;
                height: 0.55rem;
                border-top-left-radius: 0.1rem;
                border-bottom-right-radius: 0.1rem;
                background: rgb(255,73,73);
                line-height: 0.55rem;
                color: white;
                font-size: 0.24rem;
            }
            .intro {
                line-height: 0.7rem;
                .font-bold,.font-red {
                    color: rgb(255,73,73);
                }
                .font-bold {
                    font-size: 0.32rem;
                }
                .font-weak {
                    color: #aaa;
                    .font-through {
                        text-decoration: line-through;
                    }
                }
            }
            .wangwang-input {
            display: inline-block;
            width: 4.88rem;
            height: 0.72rem;
            padding: 0;
            margin: 0!important;
            border: 1px solid #ccc;
            border-radius: 0.1rem;
            line-height: 0.72rem;
            font-size: 0.32rem;
            }
            .topic {
                line-height: 0.7rem;
                .name {
                    color: #4491f8;
                }
            }
            .btn-bind {
                width: 4.88rem;
                height: 0.72rem;
                margin: 0 auto;
                border-radius: 0.2rem;
                background: rgb(255,73,73);
                color: white;
                line-height: 0.72rem;
                font-size: 0.32rem;
            }
        }
        &.panel-8 {
            width: 7.5rem;
            height: 3.66rem;
            border-radius: 0;
            background-image: url("../assets/images/inviteBind/panel8.png");
        }
    }
    #scroll-bottom {
        z-index: 1;
        bottom: 0.2rem;
        left: 0.03rem;
        width: 7.42rem;
        height: 1.06rem;
        background: url("../assets/images/inviteBind/button.png");
        background-size: 100%;
    }

}