.text-primary {
  color: $pink !important;
}

.text-warning {
  color: $orange !important;
}

.c-pink {
  color: rgb(252, 55, 140);
}

.btn-pink {
  background-color: #ff3577;
  color: #fff;
}

.font-bold {
  font-weight: bold;
}