$blue               :rgb(76,105,223);
$green              :#67C23A;
$orange             :#E6A23C;
$red                :#F56C6C;
$gray               :#DCDFE6;
$pink               :#ff6699;

$color-primary: $blue;
$color-success:$green;
$color-danger:$red;
$color-warning:$orange;
$color-info:#909399;
$color-disable:#909399;